article{
	display: grid;
	grid-template-columns: 1fr 15% [start] 5% 60% 5% [end] 15% 1fr;
	
}

article *{
  grid-column: start/end;
}

.post-meta-data{
  font-size: 12px;
  color: gray;
}

.preview{
    float: none;
    min-width: 300px;
    max-width: 600px;
    min-height: 80px;
}

.post{
    float: none;
    min-width: 300px;
    max-width: 6000px;
    min-height: 163px;
}



.preview-img{
    float: left;
    width: 200px;
    height: 120px;
    background: red;
    margin-top: 18px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.read-more{
  padding: 5px;
  background-color: lightgray;
  color: gray;
  text-decoration: none;
  }
  
.topics{
  text-align: right;
  color: white;
  float:right;
}

.topic-one{
  background-color: gray;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
}

.topic-two{
  background-color: gray;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
}

.title{
  color: black;
  text-decoration: none;
}

.title:hover{
  color: blue;
  
}