body{
  font-family: 'Inconsolata', monospace;
}

.content{
  margin: auto;
  max-width: 800px;
  min-width: 300px;
}

.header{
  height: 50px;
  position: relative;
}

.header-title{
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  text-decoration: none;
}

.header-title-logo{
  width: 60px;
  height: 40px;
}

.header-links{
  text-align: right;
  float:right;
  position: absolute;
  bottom: 4px;
  right: 0;
}

.header-links-github{
  color: gray;
  text-decoration: none;
}

.sub-header{
  font-style: italic;
}

.post-preview{

  float: none;
  min-width: 300px;
  max-width: 800px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-bottom: 2px solid lightgray;
}

#last-on-page{
  border-bottom: none;
}

.post-preview-title{
  color: black;
  text-decoration: none;
}

.post-preview-title:hover{
  color: blue;
  
}

.post-preview-meta{
  font-size: 12px;
  color: gray;
}

.post-preview-meta-topics{
  text-align: right;
  color: white;
  float:right;
}

.post-preview-meta-topics-tag{
  background-color: gray;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  font-size: 14px;
}

.post-preview-img{
    float: left;
    width: 220px;
    height: 160px;

    margin-top: 18px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.post-preview-body{
  
  min-height: 120px;
  font-size: 20px;
}

.post-preview-read-more{
  padding: 5px;
  background-color: lightgray;
  color: gray;
  text-decoration: none;
  }

  .footer{
    
    height: 100px;
    position: relative;
    border-top: 2px solid lightgray;
  }

  .footer-content{
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 20px;
  }

.post-meta{
  font-size: 14px;
  color: gray;
  border-bottom: 2px solid lightgray;
  padding-bottom: 20px;
}

.post-meta-topics{
  text-align: right;
  color: white;
  float:right;
}

.post-meta-topics-tag{
  background-color: gray;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  font-size: 14px;
}

.article{
  font-size: 18px;
}

p, ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px
}